.container{
    height: 600px;
    width: 100%;
    display: flex;
}
.cont-l, .contr-r{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cont-r{
    background-color: yellow;
}
